@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

:root {
    --primary-color: #FF5400;
    --text-color: #424247;
    --white-color: #fff;
}

button {
    border-radius: 8px;
    border: none;
    background: var(--primary-color);
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #ff5500e8;
}

section {
    margin-top: 120px;
}

/* ------------------------
    navbar section style
--------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar .birds {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.navbar .travel {
    color: var(--primary-color);
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
}

.menu ul li:hover a {
    color: var(--primary-color);
}

/*---------------------------
    Banner Section Style
-----------------------------*/

.banner-img {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(images/Group\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.banner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 116px 180px;
}

.banner-element .explore h1 {
    color: var(--white-color);
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;
}

.banner-element .explore p {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.banner-element form input {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: var(--white-color);
}

.banner-element form select {
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: var(--white-color);
    color: rgba(19, 19, 24, 0.50);
}

.banner-element form {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

/*------------------------------------
    Our Popular Tour Section Style
--------------------------------------*/

.popular-tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin: 0 20px;
}

.tour-text h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.tour-text ul{
    margin-left: 30px;
    margin-bottom: 24px;
}

.tour-text ul li{
    line-height: 30px;
}

.tour-img{
    width: 50%;
}







@media screen and (max-width: 600px) {
    .navbar .menu {
        display: none;
    }

    .banner-img {
        width: 100%;
        height: auto;
    }

    .banner-element form,
    .popular-tour {
        flex-direction: column;
    }

    .banner-element form input,
    select,
    .find{
        width: 100%;
    }

    .banner-element {
        padding: 16px;
    }

    .banner-element .explore h1 {
        font-size: 22px;
        font-weight: 800;
    }

    .popular-tour .tour-img{
        width: 100%;
        height: auto;
    }

    .tour-img img{
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .rsponsive-bar {
        display: none;
    }
}